<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyDHgrwq97EE833IpsaF03ZWyUxIsEh96pg</string>
    <key>GCM_SENDER_ID</key>
    <string>598331345581</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.senpaiapp.senpai</string>
    <key>PROJECT_ID</key>
    <string>senpai-536b6</string>
    <key>STORAGE_BUCKET</key>
    <string>senpai-536b6.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:598331345581:ios:1577262d28583473dc9424</string>
</dict>
</plist>
